<head>
    <title><%= @user.name %>'s comments | Hacker News</title>
</head>

<body>
<center>
    <table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" width="85%">
        <tbody>
        <tr>
            <td bgcolor="ff6600">
                <table style="padding:2px" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px">
                            <a style="text-decoration:none;" href="/"><img src="<%= asset_path( 'y18.gif' ) %>"></a>
                        </td>
                        <td class="header">
                            <font size="4"> <b><a style="text-decoration:none;" href="/">Hacker News</a></b></font>
                            <font size="3"> 
                                <a style="text-decoration:none;" href="/">new</a> | 
                                <%if current_user %> <a style="text-decoration:none;" href="/threads">threads</a> | <% end %>
                                <a style="text-decoration:none;" href="/ask">ask</a> | <a style="text-decoration:none;" href="/submissions/new">submit</a> | 
                                <font color="white"><%= @user.name %>'s comments</font>
                                
                            </font>
                        </td>
                        <td>
                            <font size="3">
                                <div align="right">
                                    <% if current_user %>
                                    Signed in as <strong>
                                    <%= link_to current_user.name, "/users/#{current_user.id}", id: "my_profile" %>
                                </strong> |
                                    <%= link_to "Sign out", signout_path, id: "sign_out" %>
                                    <% else %>
                                    <%= link_to "Log in", "/auth/google_oauth2", id: "sign_in" %>
                                    <% end %>
                                </div>
                            </font>
                        </td>
                        <td class="spacer" style="width:10px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:10px"></tr>
            <td>
                <% @comments.each do |comment| %>
                <% if comment.user_id == @user.id%>
                <table>
                    <tbody>
                    <tr>
                        <td class="spacer" style="width:2px"></td>
                        <td>
                            <% if current_user != nil && current_user.id != @user.id %>
                                <form action="/comments/<%= comment.id %>/vote" method="POST"
                                  id="upvote_reply_form">
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                    <% if current_user && !current_user.voted_for?(comment) %>
                                    <input type="hidden" name="reply[user_id]" value=<%= current_user.id %>>
                                    <input type="image" name="submit_vote" src="assets/arrow.gif">
                                    <% elsif !current_user %>
                                    <a style="text-decoration:none;" href="/auth/google_oauth2"><img src="assets/arrow.gif"></a>
                                    <% end %>
                                </form>
                            <% elsif current_user != nil %>
                                <font color="orange" size="3">*</font>
                            <% else %>
                                <a style="text-decoration:none;" href="/auth/google_oauth2"><img src="assets/arrow.gif"></a>
                            <% end %>
                        </td>
                        <td class="spacer" style="width:5px"></td>
                        <td>
                            <font color="grey" size="2">
                                <%= comment.votes.size %> pointsby 
                                <a style="text-decoration:none;" href="/users/<%= comment.user_id %>"><font color="#3c963c"><%= @user.name%></font></a> 
                                <%=( (Time.now() - comment.created_at)/3600).round %> hours ago | 
                                <a style="text-decoration:none;" href="/submissions/<%= comment.submission_id %>">parent</a> | 
                                on: <%= comment.submission.title %>
                            </font>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="spacer" style="width:21px"></td>
                        <td>
                            <font color="black" size="2">
                                <%= comment.content%>
                            </font>
                        </td>
                    </tr>
                    <tr class="spacer" style="height:8px"></tr>
                    <% end %>
                    <% end %>
                    </tbody>
                </table>
            </td>

        </tbody>
    </table>
</center>
</body>
