<head>
    <title><%= @submission.title %> | Hacker News</title>
</head>

<body>
   <center>
      <table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" width="85%">
         <tbody>
            <tr>
               <td bgcolor="ff6600">
                  <table style="padding:2px" border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tbody>
                        <tr>
                           <td style="width:18px;padding-right:4px;">
                              <a href="/submissions">
                              <img src="/assets/logo.gif" style="border: 1px #ffffff solid;" width="18" height="18">
                              </a>
                           </td>
                           <td style="line-height: 12pt; height: 10px;">
                              <span class="headerPage">
                              <b>
                              <a href="/submissions">Hacker News</a>
                              </b>
                              <span style="display:inline-block; width: 2px;"></span>
                              <a href="/newest">new</a>
                              |
                              <% if current_user %>
                                  <a href="/threads">threads</a>
                                  |
                              <% end %>
                              <a href="/ask">ask</a>
                              |
                              <a href="/submissions/new">submit</a>
                              </span>
                           </td>
                           <td style="text-align: right;padding-right: 4px;">
                              <span class="headerPage">
                                <% if current_user %>
                               <a href="/users/<%= current_user.id %>">
                                       <strong><%= current_user.name %></strong></a>
                                    (<%= current_user.karma %>)
                                    |
                                     <%= link_to "logout", signout_path, id: "sign_out" %>
                                 <% else %>
                                     <%= link_to "login", "/auth/google_oauth2", id: "sign_in" %>
                                 <% end %>
                              </span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
        <tr style="height:10px"></tr>
        <tr>
          <td>
            <% flash.each do |key, value| %>
              <div class="alert"><%= value %></div>
              <hr>
            <% end %>
            <table border="0">
              <tbody>
                <tr>
                  <td valign="top" align="right"> <span></span> </td>
                  <td valign="top">
                    <center>
                      <% if current_user && current_user.id != @submission.user.id && !current_user.voted_for?(@submission)%>
                          <%= link_to image_tag("arrow.gif"), "/submissions/" + @submission.id.to_s + "/vote", method: :post %>
                      <% elsif current_user && current_user.id == @submission.user.id%>
                          <font color="orange" size="3">*</font>
                      <% elsif current_user == nil %>
                        <a href="/auth/google_oauth2"> <img src="/assets/arrow.gif"></a>
                      <% else %>
                        <span style="display: inline-block; width: 10px"></span>
                      <% end %>
                    </center>
                  </td>
                  <td>
                    <a href=<%= @submission.url %>> <%= @submission.title %>
                      <% if @submission.url != "" %>
                        <span class="urlTitle">
                          <a href=<%= @submission.url%>> <span class="urlTitle">(<%= @submission.url %>) </span> </a>
                        </span>
                      <% end %>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td class="subtitle">
                    <span><%= @submission.get_upvotes.size %> score</span>
                        by
                        <a href="/users/<%= @submission.user_id %>"><%= @submission.user.name %></a>
                        <span>
                        <% time = (Time.now() - @submission.created_at) %>
                        <% if time < 3600 %>
                        <a href="/submissions/<%= @submission.id %>"><%= (time/60).round %> minutes ago</a> | 
                        <% end %>
                        <% if time >= 3600 && time < 3600*24 %>
                        <a href="/submissions/<%= @submission.id %>"><%= (time/3600).round %> hours ago</a> | 
                        <% end %>                                    
                        <% if time >= 3600*24 %>
                        <a href="/submissions/<%= @submission.id %>"><%= (time/(3600*24)).round %> days ago</a> |
                        <% end %>
                        </span>
                        <% if current_user && current_user.id != @submission.user.id && current_user.voted_for?(@submission) %>
                            <%= link_to "unvote", "/submissions/" + @submission.id.to_s + "/unvote", method: :post %>
                        |
                        <% end %>
                        <% commentsSize = Comment.where('submission_id = ?', @submission.id).length %>
                        <% if commentsSize == 0 %>
                            <a href="/submissions/<%= @submission.id %>">discuss</a>
                        <% else %>
                            <a href="/submissions/<%= @submission.id %>"><%= commentsSize %> comments</a>
                        <% end %>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td>
                    <% if @submission.url == ""%>
                      <span class=""> <%= @submission.text %></span>
                    <% end %>
                  </td>
                </tr>
                <tr style="height: 10px"></tr>
                <tr>
                  <td colspan="2"></td>
                  <td>
                    <form action="/comments" method="POST" id="comment_content_form">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <% if current_user %>
                          <input type="hidden" name="comment[user_id]" value=<%=current_user.id %>>
                        <% else %>
                          <input type="hidden" name="comment[user_id]" value=<%= %>>
                        <% end %>
                        <input type="hidden" name="comment[submission_id]" value=<%=@submission.id %>>
                        <textarea name="comment[content]" value="" form="comment_content_form"
                                    style="min-width:500px;min-height:100px"></textarea>
                        <br>
                        <br>
                        <input type="submit" value="add comment">
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <br>
            <% @comments.each do |comentari| %>
            <table border="0">
              <tbody>
                <tr>
                  <td>
                    <table border="0">
                      <tbody>
                        <tr>
                          <td></td>
                          <td valign="top">
                            <center>
                              <% if current_user && current_user.id != comentari.user.id && !current_user.voted_for?(comentari)%>
                                  <%= link_to image_tag("arrow.gif"), "/comments/" + comentari.id.to_s + "/vote", method: :post %>
                              <% elsif current_user && current_user.id == comentari.user.id%>
                                  <font color="orange" size="3">*</font>
                              <% elsif current_user == nil %>
                                <a href="/auth/google_oauth2"> <img src="/assets/arrow.gif"></a>
                              <% else %>
                                <span style="display: inline-block; width: 10px"></span>
                              <% end %>
                            </center>
                          </td>
                          <td>
                            <div style="margin-top: 2px; margin-bottom: -10px">
                              <a href="/users/<%= comentari.user.id %>"><span class="urlTitle"><%= comentari.user.name %></span></a>
                              <% time = (Time.now() - comentari.created_at) %>
                              <% if time < 3600 %>
                                <a href="/comments/<%= comentari.id %>/new_reply"><span class="urlTitle"><%= (time/60).round %> minutes ago</span></a>
                              <% end %>
                              <% if time >= 3600 && time < 3600*24 %>
                                  <a href="/comments/<%= comentari.id %>/new_reply"><span class="urlTitle"><%= (time/3600).round %> hours ago</span></a>
                              <% end %>
                              <% if time >= 3600*24 %>
                                <a href="/comments/<%= comentari.id %>/new_reply"><span class="urlTitle"><%= (time/(3600*24)).round %> days ago</span></a>
                              <% end %>
                              <% if current_user && current_user.id == comentari.user.id %>
                                |
                                <a href="/comments/<%= comentari.id %>/edit"> <span class="urlTitle"> edit</span></a>
                              <% end %>
                              <% if current_user && current_user.id != comentari.user.id && current_user.voted_for?(comentari) %>
                                |
                                <%= link_to "unvote", "/comments/" + comentari.id.to_s + "/unvote", method: :post, :class=>"urlTitle", :style=>"color:#828282;"%>
                              <% end %>
                              <span class="threads">| votes: <%= comentari.get_upvotes.size %></span>
                            </div>
                            <br>
                            <div>
                              <span class="comment"><%= comentari.content %></span>
                              <div>
                                <p>
                                  <font size="1">
                                    <u>
                                      <a href="/comments/<%= comentari.id %>/new_reply">reply</a>
                                    </u>
                                  </font>
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <%@replies=Reply.where("comment_id=?",comentari.id).order("created_at DESC")%>
                <% @replies.each do |reply| %>
                  <tr>
                      <td>
                        <div style="margin-left: 40px;">
                          <table border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <center>
                                    <% if current_user && current_user.id !=reply.user.id && !current_user.voted_for?(reply)%>
                                        <%= link_to image_tag("arrow.gif"), "/replies/" + reply.id.to_s + "/vote", method: :post %>
                                    <% elsif current_user && current_user.id == reply.user.id%>
                                        <font color="orange" size="3">*</font>
                                    <% elsif current_user == nil %>
                                      <a href="/auth/google_oauth2"> <img src="/assets/arrow.gif"></a>
                                    <% else %>
                                      <span style="display: inline-block; width: 10px"></span>
                                    <% end %>
                                  </center>
                                </td>
                                <td>
                                  <a href="/users/<%= reply.comment.user.id %>"><span class="urlTitle"><%= reply.user.name %></a>
                                  <% time = (Time.now() - reply.created_at) %>
                                  <% if time < 3600 %>
                                      <a href="/comments/<%= reply.comment.id %>/new_reply"><span class="urlTitle"><%= (time/60).round %> minutes ago</a> 
                                  <% end %>
                                  <% if time >= 3600 && time < 3600*24 %>
                                      <a href="/comments/<%= reply.comment.id %>/new_reply"><span class="urlTitle"><%= (time/3600).round %> hours ago</a> 
                                  <% end %>
                                  <% if time >= 3600*24 %>
                                      <a href="/comments/<%= reply.comment.id %>/new_reply"><span class="urlTitle"><%= (time/(3600*24)).round %> days ago</a> 
                                  <% end %>
                                  <% if current_user && current_user.id == reply.user.id %>
                                    |
                                    <a  href="/replies/<%= reply.id %>/edit"><span class="urlTitle">edit</span></a>
                                  <% end %>
                                  <% if current_user && current_user.id != reply.user.id && current_user.voted_for?(reply) %>
                                    |
                                    <%= link_to "unvote", "/replies/" + reply.id.to_s + "/unvote", method: :post, :class=>"urlTitle", :style=>"color:#828282;"%>
                                <% end %>
                                <span class="threads">| votes: <%= reply.get_upvotes.size %></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0">
                            <tbody>
                              <tr>
                                  <td> <span class="comment"><%= reply.content %></span></td>
                                </tr>
                              <tr>
                              <td>
                                  <u>
                                  <font size="1">
                                      <a href="/replies/<%= reply.id %>/new_reply">reply</a>
                                  </font>
                                  </u>
                              </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  <%@replies2=Reply.where("reply_parent_id=?",reply.id).order("created_at DESC")%>
                  <% @replies2.each do |reply2| %>
                    <tr>
                      <td>
                        <div style="margin-left: 60px;">
                          <table border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <center>
                                    <% if current_user && current_user.id !=reply2.user.id && !current_user.voted_for?(reply2)%>
                                        <%= link_to image_tag("arrow.gif"), "/replies/" + reply2.id.to_s + "/vote", method: :post %>
                                    <% elsif current_user && current_user.id == reply2.user.id%>
                                        <font color="orange" size="3">*</font>
                                    <% elsif current_user == nil %>
                                      <a href="/auth/google_oauth2"> <img src="/assets/arrow.gif"></a>
                                    <% else %>
                                      <span style="display: inline-block; width: 10px"></span>
                                    <% end %>
                                  </center>
                                </td>
                                <td>
                                  <a href="/users/<%= reply2.parent.user.id %>"><span class="urlTitle"><%= reply2.user.name %></a>
                                  <% time = (Time.now() - reply2.created_at) %>
                                  <% if time < 3600 %>
                                      <a href="/replies/<%= reply2.parent.id %>/new_reply"><span class="urlTitle"><%= (time/60).round %> minutes ago</a> 
                                  <% end %>
                                  <% if time >= 3600 && time < 3600*24 %>
                                      <a href="/replies/<%= reply2.parent.id %>/new_reply"><span class="urlTitle"><%= (time/3600).round %> hours ago</a> 
                                  <% end %>
                                  <% if time >= 3600*24 %>
                                      <a href="/replies/<%= reply2.parent.id %>/new_reply"><span class="urlTitle"><%= (time/(3600*24)).round %> days ago</a> 
                                  <% end %>
                                  <% if current_user && current_user.id == reply2.user.id %>
                                    |
                                    <a  href="/replies/<%= reply2.id %>/edit"><span class="urlTitle">edit</span></a>
                                  <% end %>
                                  <% if current_user && current_user.id != reply2.user.id && current_user.voted_for?(reply2) %>
                                    |
                                    <%= link_to "unvote", "/replies/" + reply2.id.to_s + "/unvote", method: :post, :class=>"urlTitle", :style=>"color:#828282;"%>
                                <% end %>
                                <span class="threads">| votes: <%= reply2.get_upvotes.size %></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0">
                            <tbody>
                              <tr>
                                  <td> <span class="comment"><%= reply2.content %></span></td>
                                </tr>
                              <tr>
                                <td>
                                  <u>
                                  <font size="1">
                                      <a href="/replies/<%= reply2.id %>/new_reply">reply</a>
                                  </font>
                                  </u>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    <%@replies3=Reply.where("reply_parent_id=?",reply2.id).order("created_at DESC")%>
                  <% @replies3.each do |reply3| %>
                    <tr>
                      <td>
                        <div style="margin-left: 80px;">
                          <table border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <center>
                                    <% if current_user && current_user.id !=reply3.user.id && !current_user.voted_for?(reply3)%>
                                        <%= link_to image_tag("arrow.gif"), "/replies/" + reply3.id.to_s + "/vote", method: :post %>
                                    <% elsif current_user && current_user.id == reply3.user.id%>
                                        <font color="orange" size="3">*</font>
                                    <% elsif current_user == nil %>
                                      <a href="/auth/google_oauth2"> <img src="/assets/arrow.gif"></a>
                                    <% else %>
                                      <span style="display: inline-block; width: 10px"></span>
                                    <% end %>
                                  </center>
                                </td>
                                <td>
                                  <a href="/users/<%= reply3.parent.user.id %>"><span class="urlTitle"><%= reply3.user.name %></a>
                                  <% time = (Time.now() - reply3.created_at) %>
                                  <% if time < 3600 %>
                                      <a href="/replies/<%= reply3.parent.id %>/new_reply"><span class="urlTitle"><%= (time/60).round %> minutes ago</a> 
                                  <% end %>
                                  <% if time >= 3600 && time < 3600*24 %>
                                      <a href="/replies/<%= reply3.parent.id %>/new_reply"><span class="urlTitle"><%= (time/3600).round %> hours ago</a> 
                                  <% end %>
                                  <% if time >= 3600*24 %>
                                      <a href="/replies/<%= reply3.parent.id %>/new_reply"><span class="urlTitle"><%= (time/(3600*24)).round %> days ago</a> 
                                  <% end %>
                                  <% if current_user && current_user.id == reply3.user.id %>
                                    |
                                    <a  href="/replies/<%= reply3.id %>/edit"><span class="urlTitle">edit</span></a>
                                  <% end %>
                                  <% if current_user && current_user.id != reply3.user.id && current_user.voted_for?(reply3) %>
                                    |
                                    <%= link_to "unvote", "/replies/" + reply3.id.to_s + "/unvote", method: :post, :class=>"urlTitle", :style=>"color:#828282;"%>
                                <% end %>
                                <span class="threads">| votes: <%= reply3.get_upvotes.size %></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0">
                            <tbody>
                              <tr>
                                  <td> <span class="comment"><%= reply3.content %></span></td>
                                </tr>
                              <tr>
                                <td>
                                  <u>
                                  <font size="1">
                                      <a href="/replies/<%= reply3.id %>/new_reply">reply</a>
                                  </font>
                                  </u>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    <%@replies4=Reply.where("reply_parent_id=?",reply3.id).order("created_at DESC")%>
                  <% @replies4.each do |reply4| %>
                    <tr>
                      <td>
                        <div style="margin-left: 100px;">
                          <table border="0">
                            <tbody>
                              <tr>
                                <td>
                                  <center>
                                    <% if current_user && current_user.id !=reply4.user.id && !current_user.voted_for?(reply4)%>
                                        <%= link_to image_tag("arrow.gif"), "/replies/" + reply4.id.to_s + "/vote", method: :post %>
                                    <% elsif current_user && current_user.id == reply4.user.id%>
                                        <font color="orange" size="3">*</font>
                                    <% elsif current_user == nil %>
                                      <a href="/auth/google_oauth2"> <img src="/assets/arrow.gif"></a>
                                    <% else %>
                                      <span style="display: inline-block; width: 10px"></span>
                                    <% end %>
                                  </center>
                                </td>
                                <td>
                                  <a href="/users/<%= reply4.parent.user.id %>"><span class="urlTitle"><%= reply4.user.name %></a>
                                  <% time = (Time.now() - reply4.created_at) %>
                                  <% if time < 3600 %>
                                      <a href="/replies/<%= reply4.parent.id %>/new_reply"><span class="urlTitle"><%= (time/60).round %> minutes ago</a> 
                                  <% end %>
                                  <% if time >= 3600 && time < 3600*24 %>
                                      <a href="/replies/<%= reply4.parent.id %>/new_reply"><span class="urlTitle"><%= (time/3600).round %> hours ago</a> 
                                  <% end %>
                                  <% if time >= 3600*24 %>
                                      <a href="/replies/<%= reply4.parent.id %>/new_reply"><span class="urlTitle"><%= (time/(3600*24)).round %> days ago</a> 
                                  <% end %>
                                  <% if current_user && current_user.id == reply4.user.id %>
                                    |
                                    <a  href="/replies/<%= reply4.id %>/edit"><span class="urlTitle">edit</span></a>
                                  <% end %>
                                  <% if current_user && current_user.id != reply4.user.id && current_user.voted_for?(reply4) %>
                                    |
                                    <%= link_to "unvote", "/replies/" + reply4.id.to_s + "/unvote", method: :post, :class=>"urlTitle", :style=>"color:#828282;"%>
                                <% end %>
                                <span class="threads">| votes: <%= reply4.get_upvotes.size %></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0">
                            <tbody>
                              <tr>
                                  <td> <span class="comment"><%= reply4.content %></span></td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
</center>
</body>